section{
  width:1600px;
  margin:0 auto;
  position:relative;
}

div.frame1 {
    width: 200px;
    height: 200px;
    border: 4px solid black;
    background-color: white;
    position: absolute;
    margin-left:100px;
    padding: 25px;
    -webkit-animation: word1 5s infinite; /* Chrome, Safari, Opera */
    -webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
    animation: word1 5s infinite alternate;
}

div.frame2 {
    width: 200px;
    height: 200px;
    border: 4px solid black;
    background-color: white;
    position: absolute;
    margin-right:100px;
    padding: 25px;
    -webkit-animation: word2 5s infinite; /* Chrome, Safari, Opera */
    -webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
    animation: word2 5s infinite alternate;
}

div.lyrics1 {
  width: 300px;
  height: 300px;
  border: 4px solid black;
  background-color: white;
  position: absolute;
  margin-left: 0px;
}
p.first {
  font-family: 'Josefin Slab', serif;
  animation: grow1 5s infinite alternate;
  text-align: center;
  padding-top: 30px;
}

p.second {
  font-family: 'Josefin Slab', serif;
  animation: grow1 5s infinite alternate-reverse;
  text-align: center;
  padding-top: 30px;
}

p.line1 {
  font-size: 30px;
  font-family: 'Josefin Slab', serif;
  text-align: center;
  margin:0 auto;
  padding-bottom:30px;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes word1 {
    0%   {left: 200px; top: 0px; width: 400px;}
    33%  {left: 400px; top: 0px; width: 200px;}
    66%  {left: 400px; top: 200px; width: 200px;}
    100%  {left: 200px; top: 200px; width: 400px;}
}

@keyframes word1 {
  0%   {left: 200px; top: 0px; width: 400px;}
  33%  {left: 400px; top: 0px; width: 200px;}
  66%  {left: 400px; top: 200px; width: 200px;}
  100%  {left: 200px; top: 200px; width: 400px;}
}

@-webkit-keyframes word2 {
  0%   {right: 0px; top: 200px; width: 400px;}
  33%  {right: 400px; top: 200px; width: 200px;}
  66%  {right: 400px; top: 0px; width: 200px;}
  100%  {right: 0px; top: 0px; width: 400px;}
}

@keyframes word2 {
  0%   {right: 0px; top: 200px; width: 400px;}
  33%  {right: 400px; top: 200px; width: 200px;}
  66%  {right: 400px; top: 0px; width: 200px;}
  100%  {right: 0px; top: 0px; width: 400px;}
}

@keyframes grow1 {
  from {
    font-size: 6px;
    color: white;
  }
  to {
    font-size: 100px;
    color: black;
  }
}
