
p.first {
  font-family: 'Josefin Slab', serif;
  animation: grow1 5s infinite alternate;
  text-align: center;
}
p.second {
  font-family: 'Josefin Slab', serif;
  animation: grow1 5s infinite alternate-reverse;
  text-align: center;
}

@keyframes grow1 {
  from {
    font-size: 6px;
    color: #49A877;
  }
  to {
    font-size: 80px;
    color: #F6259F;
  }
}
