body{
  background:url('../img/grass.png') 0px 700px repeat-x,
  linear-gradient(to bottom, #87e0fd 0%,#938b71 8%,#bcb298 20%,#ff814b 41%,#ffd687 61%,#bebebe 81%,#bebebe 100%);
  height:10000px;
}

#measurement{
  height:100px;
  width:100px;
  margin:0 auto;
  border:1px solid red;
  left:100px;
  top:600px;
  position: fixed;
  line-height:50px;
  text-align:center;
}

.depthscale{
  height:9300px;
  width:50px;
  position: absolute;
  top:700px;
  left:0px;
  background-image:url('../img/depthscale.png');
  background-repeat: repeat-y;
}
#stage1{
  height:1000px;
  width:1200px;
  margin:0 auto;
  border:1px solid red;
  position:relative; /* this is important for container to be related */
  overflow:hidden; /* use this to fade out the elements outside the container */
  left:0;
  bottom:0;
}

#img_earth{
  height:400px;
  width:400px;
  border:1px solid blue;
  margin:0 auto;
  top:50px;
  position: relative;
  -webkit-animation: float 4s infinite ease-in-out;
}

#title{
  height:200px;
  width:600px;
  border:1px solid red;
  margin-left: 300px;
  position: absolute;
  line-height:50px;    /* need both to center something inside a box */
  text-align:center;  /* need both to center something inside a box */
}

#scroll{
  height:50px;
  width:100px;
  border:1px solid red;
  position: absolute;
  top:500px;
  left:30px;
  line-height: 50px;
  text-align: center;
}

#img_arrow{
  height:100px;
  width:50px;
  border:1px solid blue;
  position: absolute;
  top:470px;
  left:150px;
  -webkit-animation: float 2s infinite;
}
.character1{
  width:115px;
  height:200px;
  position: absolute;
  top:700px;
  right:200px;
  background-image: url('../img/spritesheet1.png');
  animation: play 2s steps(5) infinite;
}

#stage2{
  height:1500px;
  width:1200px;
  margin:0 auto;
  border:1px solid red;
  position:relative; /* this is important for container to be related */
  overflow:hidden; /* use this to fade out the elements outside the container */
  left:0;
  bottom:0;
}

.dig{
  height: 200px;
  width: 60px;
  position:absolute;
  background-image: url('../img/dig.png');
  top:-200px;
  left:600px;
  background-repeat:no-repeat;
}
#textbox1{
  height: 300px;
  width: 300px;
  border:1px solid red;
  position: absolute;
  top:500px;
  left:-350px;
}

#stage3{
  height:4500px;
  width:1200px;
  margin:0 auto;
  border:1px solid red;
  position:relative; /* this is important for container to be related */
  overflow:hidden; /* use this to fade out the elements outside the container */
  left:0;
  bottom:0;
}
.character2{
  height: 106px;
  width: 33px;
  position:absolute;
  background-image: url('../img/streetboy.png');
  top:-200px;
  left:600px;
  background-repeat:no-repeat;
}

#textbox2{
  height: 300px;
  width: 300px;
  border:1px solid red;
  position: absolute;
  top:300px;
  right:-350px;
}

#textbox3{
  height: 300px;
  width: 300px;
  border:1px solid red;
  position: absolute;
  top:2000px;
  left:-350px;
}

#textbox4{
  height: 300px;
  width: 300px;
  border:1px solid red;
  position: absolute;
  top:3700px;
  right:-350px;
}

#stage4{
  height:2900px;
  width:1200px;
  margin:0 auto;
  border:1px solid red;
  position:relative; /* this is important for submarine to be related */
  overflow:hidden; /* use this to fade out the elements outside the container */
  left:0;
  bottom:0;
}

@keyframes float{
  50%{
    transform: translate(0,-10px);
  }
}

@keyframes play{
  from{background-position: -580px;}
  to  {background-position: 0px;}
}
